.card:hover {
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px var(--light);
}

.viewprofile_card {
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe9c, -15px -15px 30px #ffffff2e;
}

.folder-item:hover {
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px var(--light);
}

.file-item:hover {
  border-radius: 20px;
  background-color: var(--light-blue ) !important;
}

.media-sm:hover {
  border-radius: 20px;
  background-color: var(--light-blue ) !important;
}

.table-row:hover {
  border-radius: 20px !important;
  background-color: var(--light-blue ) !important;
  border-radius: 60px !important;
}